@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;  
    color: #333333;
    height: 300vh;
    
    
}

.landing-page{
    background: #74D2E7;
    height: 100vh;


}


.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding:  0 3rem;


}

button{
    font-family: 'Hind', sans-serif;  
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
    color: white;
    background:#EC1C24;
    border-radius: 7px;
    box-shadow: 4px 4px 30px rgba(236, 28, 36, 0.40);
    font-weight:400;
    font-size: 14px;
    cursor: pointer; 
}

button:hover{
    filter: brightness(90%);

}

.grid{
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "logo-nav logo-nav"
    "main-text main-image"
    ;
}

.grid-landing-page{
    height: 90vh;
}

.logo-nav{
    grid-area: logo-nav;
}

.main-text{
    grid-area: main-text;
}

.main-image{
    grid-area: main-image;
}


/* logo-design */

.logo-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;

}


.for-s{
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 700;
}




.logo-title{
    font-size: 32px;
    margin: 0;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1rem;

}


.logo-sub-title{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin:0.5rem 0;
    color: #5B7A9A;
}

.nav{
    display: flex;
    width: 1200px;
    justify-content: center;
    padding-top: 1rem;
    text-transform: uppercase;
    position: sticky;
    font-size: 14px;
}

.nav a{

    margin: 0 2rem 0 2rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #333333;
    font-weight: 300;
    width: 100px;
    text-align: center;
    letter-spacing: 1.2px;
    opacity: 0.95;
}

.shop-bold{
    font-weight:600 !important;
}

.active-one{
    color:#FF1515 !important;
    font-weight: 600 !important;
}

.nav a:hover{
    color:#FF1515 ;
    font-weight: 600;
}


/* main-text */
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-bottom: 4rem;
}


.main-text-content{
font-size: 40px;
line-height: 48px;
letter-spacing: 1px;
text-transform: uppercase;
}

.main-text-content-white{
    color: #ffffff;
}


.main-image{
display: flex;
justify-content: flex-end;
align-items: center;
padding-bottom: 4rem;

}



/* first section styling */

.first-section{
    height: 100vh;
    width: 100%;
}

/* cards */

.cards-container{
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;

}

.cards-container h2{
    text-transform: uppercase;
    color: #4C4D4E;
    font-size: 19px;
    letter-spacing: 1px;
}

.cards-container p{
    font-size: 14px;
    color: #777777;
    letter-spacing: 1px;
}

.cards{
    text-align: center;
}

/* image and text */

.first-section-sub-section{
height: 60vh;
display: grid;
grid-template-columns: 3fr 2fr;
}

.first-section-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.bigger-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;

}

.bigger-card-container h2{
    text-transform: uppercase;
    color: #4C4D4E;
    font-size: 19px;
    letter-spacing: 1px;
}
.bigger-card-container p{
    font-size: 14px;
    color: #777777;
    letter-spacing: 1px;
}

.bigger-card{
    width: 300px;
    text-align: center;

}

