@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;  
    color: #333333; 
    letter-spacing: 1px;  
}


.to-hide{
display: none;
}

.landing-page{
    background: #74D2E7;
    height: 100%;

}


.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding:  0 3rem;


}

button{
    font-family: 'Hind', sans-serif;  
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
    color: white;
    background:#EC1C24;
    border-radius: 7px;
    box-shadow: 4px 4px 30px rgba(236, 28, 36, 0.40);
    font-weight:400;
    font-size: 14px;
    cursor: pointer; 
}

.sticky-go-top{
display: none;
position: fixed;
bottom: 20px;
right: 20px;
font-size: 3rem;
color:#EC1C24;
opacity: 90%;
}


button:hover{
    filter: brightness(90%);

}

.grid{
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "logo-nav logo-nav"
    "main-text main-image"
    ;
}

.grid-landing-page{
    height: 100vh;
    width: 100%;
}

.logo-nav{
    grid-area: logo-nav;
}

.main-text{
    grid-area: main-text;
}

.main-image{
    grid-area: main-image;
}

.main-image-content{
    width:553px ;
    height:369.5px ;
}


/* logo-design */

.logo-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}


.for-s{
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 700;
}




.logo-title{
    font-size: 32px;
    margin: 0;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1rem;

}


.logo-sub-title{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin:0.5rem 0;
    color: #5B7A9A;
}

nav{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    padding-top: 1rem;
    text-transform: uppercase;
    font-size: 14px;
    position: sticky;
    top: 0.25rem;
}

nav a{

    margin: 0 2rem 0 2rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #333333;
    font-weight: 300;
    width: 100px;
    text-align: center;
    letter-spacing: 1.2px;
    opacity: 0.95;
}

.shop-bold{
    font-weight:600 !important;
}

.active-one{
    color:#FF1515 !important;
    font-weight: 600 !important;
}

nav a:hover{
    color:#FF1515 ;
    font-weight: 600;
}


/* main-text */
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
}


.main-text-content{
font-size: 40px;
line-height: 48px;
text-transform: uppercase;
}

.main-text-content-white{
    color: #ffffff;
}


.main-image{
display: flex;
justify-content: flex-end;
align-items: center;
padding-bottom: 4rem;

}



/* first section styling */

.first-section{
    height: 100%;

}

/* cards */

.cards-container{
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;

}

.cards-container h2{
    text-transform: uppercase;
    color: #4C4D4E;
    font-size: 19px;
}

.cards-container p{
    font-size: 14px;
    color: #777777;
}

.cards{
    text-align: center;
}

/* image and text */

.first-section-sub-section{
height: 60vh;
display: grid;
grid-template-columns: 3fr 2fr;
}

.first-section-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.bigger-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;

}

.bigger-card-container h2{
    text-transform: uppercase;
    color: #4C4D4E;
    font-size: 19px;
}
.bigger-card-container p{
    font-size: 14px;
    color: #777777;
}

.bigger-card{
    width: 300px;
    text-align: center;

}


/* second section styling */



.second-section{
    height: 100%;
    width: 100%;;
    text-align: center;
    padding: 6rem 0 3rem 0;
}

.second-section h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-size: 40px;

}

.parent-container{
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 5fr 4fr;
    align-items: center;
    justify-content: center;
}

.child-contents{
    width: 300px;
    margin: auto;
}

.child-contents h3{
    text-transform: uppercase;
    font-size: 19px;
}

.child-contents p{
    font-size: 14px;
    color: #777777;;
}


.second-section img{
    width: 317px;
    height: auto;

}

/* third section styling */
.third-section{
    height: 100%;
    text-align: center;
    padding: 3rem 0;
}

.third-section h2{
    font-size: 40px;
    text-transform: uppercase;
}

.third-section h3{
    opacity: 0.90;
}

.third-section p {
    font-size: 14px;
    color: #777777;
}

.third-section img{
width: 200px;
clip-path: circle();
}

.third-section-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;
    height: 50vh;
}

/* forth section styling */

.forth-section{
    height: 100%;
    width: 100%;
    padding: 3rem 0 0 0;
}

.forth-section h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 0 0 1rem 0;
}

.map{
    height: 70vh;
    width: 100%;
    padding: 0;
}


/* fifth section styling */

.fifth-section{
    height: 100%;
    width: 100%;
    background: #333333;
    color: #ffffff;
}

.for-contact-us{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 3rem 0 1rem 0; 
}

.fifth-section .form-container{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-section form{
    background:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    border: 1px solid #777777;
    border-radius: 10px;
}

.fifth-section form div{
    padding: 10px;
}

.fifth-section form input{
    color:#333333;
    font-size: 1.1rem;
    letter-spacing: 1px;
    height: 2rem;
    width: 15rem;   
    outline: none;
    border-bottom: 1px solid #777777;
    border-width: 0 0 2px;
}

.fifth-section form input:focus{
    border-bottom: 1px solid #f38989;
}

.fifth-section form textarea{
    width: 15rem;
    height: 10rem;
    outline: none;
    border-width: 0 0 2px;
    


}

::placeholder{
    text-align: center;
    color:#777777;
}





